* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial;
    color: black; */
  font-family: "Archivo Black", sans-serif;
  background: #f4d03f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  /* margin-top: 70px; */
  left: 0;
  background-color: #c8e3d4;
}

.right {
  /* margin-top: 70px; */
  right: 0;
  background-color: #87aaaa;
}

.slogan {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: block;
}


.addApointmentForm {
  width: 451px;
  height: 650px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 15px;
  margin: auto;
  display: block;
}

.addApointmentFormHeader {
  height: 125px;
  background-image: url("../../../../../Assets/Images/Card_Header2.png");
}

.apointmentNameLabel {
  padding-left: 22px;
  padding-top: 20px;
}

.apointmentDescriptionLabel {
  padding-left: 20px;
  padding-top: 20px;
}

.apointmentTypeLabel {
  padding-left: 20px;
  padding-top: 20px;
}

.apointmentImageLabel {
  padding-right: 260px;
  padding-top: 20px;
  padding-left: 20px;
}

.formInput {
  margin-right: 230px;
  width: 385px;
  height: 35px;
  margin-left: 20px;
  margin-top: 20px;
}

.addApointmentButton {
  border-radius: 4px;
  border-color: #949494;
  width: 400px;
  height: 36px;
  background-color: #f6eabe;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.backButton
{
  border-radius: 4px;
  border-color: #949494;
  width: 400px;
  height: 36px;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color:#F6D7A7;
}

.apointmentPicture {
  width: 250px;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
}

.backToCompartment
{
  text-decoration: none;
}

.backButton
{
  border-radius: 4px;
  border-color: #949494;
  width: 400px;
  height: 36px;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color:#F6D7A7;
}
