*
{
  margin:0;
  padding:0;
}

body
{
    /* font-family: Arial;
    color: black; */
    font-family: "Archivo Black", sans-serif;
  background: #f4d03f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
  
.split
{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

  
.right
{
    /* margin-top: 70px; */
    right: 0;
    background-color: #87AAAA;
}


.centered
{
    position: absolute;
    top: 20%;
    left: 50%;
}
