* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #c8e3d4;
}

.right {
  right: 0;
  background-color: #87aaaa;
}

.slogan {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: block;
}

.addEnvironmetButton {
  border-radius: 4px;
  border-color: #949494;
  width: 400px;
  height: 36px;
  background-color: #f6eabe;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 85px;
}

.addEnvironmetForm {
  width: 451px;
  height: 510px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 15px;
  margin:auto;
  display:block;
  margin-top: 80px;

}

.addEnvironmetFormHeader {
  height: 125px;
  background-image: url("../../../../../Assets/Images/environmentCard_Header.png");
}

.environmetDescriptionLabel {
  padding-left: 20px;
  padding-top: 20px;
}

.environmetNameLabel {
  padding-left: 20px;
  padding-top: 20px;
}

.formInput {
  margin-right: 230px;
  width: 385px;
  height: 35px;
  margin-left: 20px;
  margin-top: 20px;
}



.backToEnvironment
{
  text-decoration: none;

}

.backButton
{
  border-radius: 4px;
  border-color: #949494;
  width: 400px;
  height: 36px;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color:#F6D7A7;

}
